@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Noto+Sans+KR:wght@100..900&family=Passion+One:wght@400;700;900&family=Playwrite+MX+Guides&family=Sixtyfour&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Noto+Sans+KR:wght@100..900&family=Passion+One:wght@400;700;900&family=Playwrite+MX+Guides&family=Sixtyfour&family=Sriracha&display=swap');

:root{
  --fonte1:Verdana, Geneva, Tahoma, sans serif;
  --fonte2: 'Momo', cursive;
  --fonte3:  'Momo Signature', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}

 html,body{
    min-height: 100vh;
    background-color: #ffffff;
    font-family: var(--fonte1);
 }

  header{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
  }

  header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
  }

  header p{
    padding-bottom: 50px;
  }

  a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
  }

  a:hover{
    text-decoration: underline;
  }
  section{
    padding-top: 10%;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vh;
  }
  section>p{
    padding-bottom: 2em;
  }
   
   section.normal{
    background-color: #ffffff;
    color: #000000;
   }
   section.imagem{
   background-color: #333333;
   color: #ffffff;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
   background-size: cover;
   background-attachment: fixed;

   }
   section.imagem>p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 1px 1px 0px black;
    
   }
   section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
  

   }
   section#img02{
    background-image: url('../imagens/background002.jpg');
   
   }
  footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }